html{
    font-size:16px;
    background-color:black;
    color:lime;
}
header{
    display:block;
    text-align:center;
    /* border-color:purple; 
    border-style:solid;
    border-width:10px; */
    font-size:1.5rem;
}
.IBW{
    /* border-color:blue;
    border-style:solid;
    border-width:10px; */
    min-width:500px;
}
.output{
    /*border-color:red;
    border-style:solid;
    border-width:10px; */
}
.needs{
    /*border-color:green;
    border-style:solid;
    border-width:10px; */
    min-width:600px;
}
.output h1{
    display:inline;
}
.output h2{
    display:inline;
}
input[type="range"]{
    width:400px;
}